/* COLORS 

HEX: #e0e2e4 (LIGHT GRAY)

HEX: #c6bcb6 (LIGHT BROWN)

HEX: #96897f (MEDIUM BROWN)

HEX: #625750 (DARK BROWN)
*/

/* FONTS */
@font-face {
	font-family: montserratBlack;
	src: url(../Montserrat/Montserrat-Black.ttf);
}

@font-face {
	font-family: montserratBold;
	src: url(../Montserrat/Montserrat-Bold.ttf);
}

@font-face {
	font-family: montserratSemiBold;
	src: url(../Montserrat/Montserrat-SemiBold.ttf);
}

@font-face {
	font-family: montserratReg;
	src: url(../Montserrat/Montserrat-Regular.ttf);
}

/* TEXT ELEMENTS */
a {
	text-decoration: none;
	text-decoration-line: none;
}

body {
	font-family: montserratReg;
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
}
/* NAVIGATION BAR */
#logoDiv {
	float: right;
	border-radius: 12px;
	color: white;
	text-align: center;
	padding: 1rem 0rem 0rem 13rem;
	transition: 0.5s;
	z-index: 0;
}

#logo {
	width: 5rem;
	padding: 1rem;
	align-self: center;
	background-color: #625750;
	border-bottom-right-radius: 50%;
	border-top-right-radius: 50%;
}

#navbar {
	display: flex;
	flex-direction: column;
	background-color: #625750 ;
	top: 0;
	left: 0;
	position: fixed;
	width: 14.5rem;
	height: 100%;
	justify-content: flex-start;
	transition: 0.5s;
	text-align: left;
	z-index: 9999999;
	margin-left: -13rem;
	line-height: 5;
}

#navbar:hover {
	margin-left: 0;
}

.navTabs {
	letter-spacing: 3px;
	font-size: 1.1rem;
	font-family: montserratSemiBold;
	color: white;
	transition: 0.5s;
	padding-left: 1rem;
}

.navTabs:hover {
	color: #c6bcb6;
	font-family: montserratBold;
	padding-left: 3rem;
}

/* TRIBUTE PAGE */

#tributetitle a {
	font-family: montserratBlack;
	font-size: 5rem;
	color: #625750;
	text-shadow:2px 2px #000;
	letter-spacing: 5px;
}






